<!DOCTYPE html>
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-ajaxpruebas">
 <template>
     <style include="shared-styles">
         :host {
             font-style: italic;
             display: inline-block;
         }
     </style>
     <button type="button" name="posts" on-click="pullMongoDB">Get All Posts</button>
     <iron-ajax
       id="id_ajax"
       url="https://api.mlab.com/api/1/databases/dbbootcamp/collections/posts"
       params='{"apiKey":"w07oucS_CXo8lV9vJ3PwVUncnAPP_B4T"}'
       handle-as="json"
       loading="Getting..."
       method="GET"
       content-type="application/json"
       on-response="handlePosts"></iron-ajax>

     <div id="post-list">
         <template is="dom-repeat" items="[[listado]]">
           <div>{{item.titulo}}</div>
           <div>{{item.texto}}</div>
           <p>---</p>
         </template>
     </div>
 </template>
 <script>
     Polymer ({
       is: 'my-ajaxpruebas',
       properties: {
         listado: Array
       },
       pullMongoDB: function (){
           this.$.id_ajax.generateRequest();
       },
       handlePosts: function (e,request){
         this.set('listado',request.response)
         console.log(this.listado);
       }
     })
 </script>
</dom-module>
